.bola{
    text-align: center;
}

.carts-temoignages{
    justify-items: center;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1 ,1fr);
}


.temoignage{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.295);
    background-color: rgba(255, 255, 255, 0.316) ;
    width: 240px;
    height: 300px;
    border-radius: 10px;
    padding: 30px;
    display: grid;
    gap: 20px;
    transition-duration: 0.5s;
    img{
        border-radius: 50%;
        width: 50px;
    }
    .name-photo{
        padding-left: 10px;
        border-radius: 30px;
        background-color: #0000005e;
        display: flex;
        align-items: center;
        gap: 20px;
        transition-duration: 0.5s;
    }
    .name{
        font-size: 19px;
    }
}

.name-photo:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.295);
}
.temoignage:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.295);
}

.Concept img{
    width: 150px;
}

.cart-valeur{
    display: grid;
    justify-items: center;
    gap: 20px;
    grid-template-columns: repeat(1 ,1fr);
}

.valeur{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.295);
    background-color: #4c504836;
    padding: 30px;
    align-content: center;
    justify-items: center;
    display: grid;
    gap: 20px;
    border: solid;
    border-radius: 15px;
    width: 240px;
    height: 300px;
    transition-duration: 0.5s;
    h3{
        font-size: xx-large;
    }
    p{
        font-size: 21px;
    }
}

.valeur:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.295);
}

.h2-sections{
    display: flex;
    justify-content: center;
}
.h2-sections > h2{
    margin: 10px;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: #0000005e;
}

.p-kolchi{
    justify-items: center;
    p{
        margin: 20px;
        max-width: 350px;
    }
}

section{
    margin: 20px 0;
}

.cart-explorer{
    text-align: center;
    padding: 30px;

    .explorer{
    all: unset;
    cursor: pointer;
    padding: 15px;
    background-color: #cfcfcf35;
    border-radius: 15px;
}
}

.parent-bola-p-expore{
    justify-content: center;
}

.concept{
    display: grid;
    gap: 40px;
    justify-items: center;
    grid-template-columns: repeat(1 ,1fr);
    img{
        height: 12rem;
        width: 290px;
        border-radius: 30px;
        transition-duration: 0.5s;
    }
}

.concept img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.295);
}

@media (min-width:700px){
    .parent-bola-p-expore{
        display: flex;
        gap: 30px;
        > .p-kolchi >p{
            margin: 0;
        }
    }
    .parti1-cart-bola{
        align-content: center;
    }
    .concept{
        grid-template-columns: repeat(2 ,1fr);
    }
    .cart-valeur{
        grid-template-columns: repeat(2 ,1fr);
    }
    .carts-temoignages{
        grid-template-columns: repeat(2 ,1fr);
    }
}

@media (min-width:960px){
    .concept{
        grid-template-columns: repeat(3 ,1fr);
    }
    .cart-valeur{
        grid-template-columns: repeat(3 ,1fr);
    }
    .carts-temoignages{
        grid-template-columns: repeat(3 ,1fr);
    }
}

@media (min-width:1300px){
    .cart-valeur{
        grid-template-columns: repeat(4 ,1fr);
    }
}

